/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1000px) {
    .person-title{
        font-size: 26px;
        margin-top: 40px;
    }

    .person-text{
        font-size: 19px;
        line-height: 22px;
        width: 400px;
    }

    .align-right{
        margin-right: 0px; 
    }
}


@media only screen  and (min-width : 2000px) {
    .person-title{
        font-size: 32px;
        margin-top: 65px;
    }

    .person-text{
        font-size: 22px;
        line-height: 26px;
        width: 497px;
    }

    .align-right{
        margin-right: 110px; 
    }

}
