@media only screen and (min-width: 320px) and (max-width: 500px) {
    .cover-chapter-head{
        width:200px !important;
        font-size: 1.6em !important;
    }

    #about{
        font-size: 14px !important;
    }

    .tool{
        width:35px;
        height: 35px;
    }

    .quote{
        width:78%;        
    }

    .quote-autor{
        text-align: right;
        width: 75%;
        margin-top: 15px;
    }

    .quote-autor-profession{
        width:100%;
        text-align: right;
    }

    .becouse{
        font-size: 18px;
        margin-bottom: 26px;
        width: 90%;
    }

    .becouse-list{
        font-weight: bolder;
        /* width: 99%; */
    }

    /* .small-in-big{
        font-size: 1.2em;
    } */
    .becouse-list li .becouse-big{
        font-size: 18px;
        margin-left: 80px;
        /* word-spacing: 0px; */
        /* padding: 0 0; */
        /* line-height: .5em; */
    }

    
    .glux{
        text-align: right;
        padding-right: 20px;
        /* padding-top: 10px; */
    }

    #about-section-holder{
        height: auto;
        width: 100%;
        margin-top: 25px;
        /* margin-bottom: 25px; */
    }

    .about-columns{
        width: 100%;
        float:none;
        padding: 25px 13px;
    }
    .active .about-columns p:first-child{
        width: 100%;
    }
    .about-contacts.bordered{
        width:100%;
    }

    .info-button{
        display: none;
    }

    .divider{
        width:initial;
        float: none;
        padding: 0;
        text-align: center;
    }
    .person-video{
        width: 100%;
        float: none;
        text-align: left;
        margin: 0;
    }
    .visible-sound {
        height: 103px;
        margin: auto;
        padding: 0px;
        width: 104%;
        float: right;
    }
    .person-title-foraudios{
        width: 100%;
    }
    .translation-button{
        position: absolute;
        right: 0%;
        bottom: -10%;
    }
    .translation-text {
        width: 100%;
        background-color: #000000;
        text-align: left;
        display: none;
        height: 70%;
        padding: 11%;
        font-size: 16px;
        margin: auto;
        z-index: 100;
        position: absolute;
        overflow: hidden;
        padding-top: 1px;
        margin-top: 10px;
    }
    .person-title{
        font-size: 0.9em;
        line-height: 1em;
        padding: 2%;
        padding-left: 8%;
    }

    .person-text{
        width: 100%;
        font-size: 0.9em;
    line-height: 1em;
    padding: 2%;
    padding-left: 8%;
    }

    .person-text-right{
        text-align: left;
        margin-left: 0px;
    }

    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 41%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999;
      }

    .trbotton{
        position: absolute;
        left: 37%;
        top: 46%;
        visibility: visible;
        height: 19px;
        width: 80px;
    }
    .relatives-for-mobile{
        position: static !important;
        width: 92% !important;
        /* margin-top: 0px; */
        top: unset !important;
        left: unset !important;
        visibility: visible;
        display: block;
        z-index: unset !important;
        font-size: 17px;
        /* padding: 8%; */
        margin: 0px auto;
        box-sizing: border-box;
        opacity: 1;
        border: none;
    }
    /* .relatives-for-mobile {
    position: static !important;
        width: 100% !important;

        top: unset !important;
        left: unset !important;
        visibility: visible;
        display: block;
        z-index: unset !important;
        font-size: 17px;
        padding: 0%;
        margin: 0px auto;
        box-sizing: border-box;
        opacity: 1;
        height: unset !important;
        border: none;
    } */
    img.relatives-for-mobile{
        width: 77% !important;
    }

    .hidden-for-mobile{
        visibility: hidden;
        display: none;
    }
    

    .prevZoomer{
        width: 100%;
        margin: 55px 0;
    }


    .intro-left{
        font-size: 12px;
        width:100%;
        /* display: none; */
    }
/* 
    .intro-left-large{
        font-size: 12px;
        
    } */
    /* .intro-left-large{
        padding: 10px
    } */
    .intro-right{
        display: none;
    }

    .fp-controlArrow{
        top: 100%;
        border:none !important;
        /* border-color: transparent #ffffff96 transparent transparent; */
        background-image: url(../img/icons/arrow.png);
        width: 25px !important;
        height: 29px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .fp-controlArrow.fp-next{
        right: 0px;
        /* border-width: 13.5px 0 13.5px 18px; */
        transform: rotate(-90deg);
    }

    .fp-controlArrow.fp-prev {
        left: 0px;
        /* border-width: 16.5px 18px 13.5px 0; */
        transform: rotate(90deg);
    }

    .fp-section.active{
        z-index: 500
    }
    .introDivP{
    padding: 10%;
    padding: 2% 5% 2% 5%;
    font-size: 18px;
    text-align: left;
    }
    .introDivP p{
        margin: 0px;
        padding: 10px;
    }
}