@media only screen and (min-width: 320px) and (max-width: 500px) {
    .slide.fp-slide.fp-table.active {
        z-index: 150000
    }
    .cover-chapter-head {
        width: 200px !important;
        font-size: 1.6em !important;
    }
    #about {
        font-size: 14px !important;
    }
    .tool {
        width: 35px;
        height: 35px;
    }
    .quote {
        width: 78%;
    }
    .quote-autor {
        text-align: right;
        width: 75%;
        margin-top: 15px;
    }
    .quote-autor-profession {
        width: 100%;
        text-align: right;
    }
    .becouse {
        font-size: 17px;
        margin-bottom: 26px;
    }
    .becouse-list {
        font-weight: bolder;
        /* width: 99%; */
    }
    /* .small-in-big{
        font-size: 1.2em;
    } */
    .small-in-big {
        font-size: 17px;
        font-weight: 100;
        margin-right: 14px;
    }
    .becouse-list li .becouse-big {
        font-size: 17px;
        margin-left: 75px;
        /* word-spacing: 0px; */
        /* padding: 0 0; */
        /* line-height: .5em; */
    }
    .glux {
        text-align: right;
        padding-right: 20px;
        /* padding-top: 10px; */
    }
    #about-section-holder {
        height: auto;
        width: 100%;
        margin-top: 25px;
        /* margin-bottom: 25px; */
    }
    .about-columns {
        width: 100%;
        float: none;
        padding: 25px 13px 59px 17px;
    }
    .active .about-columns p:first-child {
        width: 100%;
    }
    .about-contacts.bordered {
        width: 100%;
    }
    .info-button {
        display: none;
    }
    .divider {
        width: initial;
        float: none;
        padding: 0;
        text-align: center;
    }
    .person-video {
        width: 100%;
        float: none;
        text-align: left;
        margin: 0;
    }
    .visible-sound {
        height: 103px;
        margin: auto;
        padding: 0px;
        width: 104%;
        float: right;
    }
    .person-title-foraudios {
        width: 100%;
    }
    .translation-button {
        position: absolute;
        right: 0%;
        bottom: -10%;
    }
    .translation-text {
        width: 100%;
        background-color: #000000;
        text-align: left;
        display: none;
        height: 70%;
        padding: 11%;
        font-size: 16px;
        margin: auto;
        z-index: 100;
        position: absolute;
        overflow: hidden;
        padding-top: 1px;
        margin-top: 14px;
        top: 64%;
    }
    .person-title {
        font-size: 0.9em;
        line-height: 1em;
        padding: 2%;
        padding-left: 8%;
    }
    .person-text {
        width: 100%;
        font-size: 0.9em;
        line-height: 1em;
        padding: 2%;
        padding-left: 8%;
    }
    .person-text-right {
        text-align: left;
        margin-left: 0px;
    }
    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 49%;
        margin-top: -16px;
        outline: 0;
        width: 32px;
        height: 32px;
        text-indent: -9999px;
        z-index: 9999;
    }
    .fp-tableCell .relatives {
        width: 100% !important;
    }
    .fp-tableCell .slider-holder {
        width: 100% !important;
    }
    /*   .relatives > .plyr {
        width: 65% !important;
        margin: auto;
    }*/
    /* #is62 .plyr, #is8 .plyr {
        margin-top: 18%;
    } */
    .trbotton {
        position: absolute;
        left: 37%;
        top: 46%;
        visibility: visible;
        height: 19px;
        width: 80px;
    }
    .relatives-for-mobile {
        position: static !important;
        width: 92% !important;
        /* margin-top: 0px; */
        top: unset !important;
        left: unset !important;
        visibility: visible;
        display: block;
        z-index: unset !important;
        font-size: 17px;
        /* padding: 8%; */
        margin: 0px auto;
        box-sizing: border-box;
        opacity: 1;
        border: none;
    }
    /* .relatives-for-mobile {
    position: static !important;
        width: 100% !important;

        top: unset !important;
        left: unset !important;
        visibility: visible;
        display: block;
        z-index: unset !important;
        font-size: 17px;
        padding: 0%;
        margin: 0px auto;
        box-sizing: border-box;
        opacity: 1;
        height: unset !important;
        border: none;
    } */
    img.relatives-for-mobile {
        width: 100% !important;
    }
    .hidden-for-mobile {
        visibility: hidden;
        display: none;
    }
    .prevZoomer {
        width: 100%;
        margin: 55px 0;
    }
    .intro-left {
        font-size: 12px;
        width: 100%;
        /* display: none; */
    }
    /* 
    .intro-left-large{
        font-size: 12px;
        
    } */
    /* .intro-left-large{
        padding: 10px
    } */
    .intro-right {
        display: none;
    }
    .fp-controlArrow {
        top: 100%;
        border: none !important;
        /* border-color: transparent #ffffff96 transparent transparent; */
        background-image: url(../img/icons/arrow.png);
        width: 25px !important;
        height: 29px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .fp-controlArrow.fp-next {
        right: 0px;
        /* border-width: 13.5px 0 13.5px 18px; */
        transform: rotate(-90deg);
    }
    .fp-controlArrow.fp-prev {
        left: 0px;
        /* border-width: 16.5px 18px 13.5px 0; */
        transform: rotate(90deg);
    }
    .fp-section.active {
        z-index: 500
    }
    .introDivP {
        padding: 10%;
        padding: 2% 5% 2% 5%;
        font-size: 16px;
        text-align: left;
    }
    .introDivP p {
        margin: 0px;
        /* padding: 10px; */
    }
    #tools {
        position: fixed;
        left: 136px;
        top: 20px;
        width: 180px;
        z-index: 100;
        text-align: right;
        color: black;
    }
    .lr-menu {
        width: 700px;
        margin: 0 auto;
        display: none;
    }
    .lr-top-line {
        position: fixed;
        background-color: black;
        width: 100%;
        height: 78px;
        top: 0px;
        left: 0px;
        z-index: 1;
    }
    #lr-holder {
        width: 100%;
    }
    .lr-section {
        width: 100%;
    }
    .lr-section-right {
        width: 100%;
        padding: 18px;
        float: none;
    }
    .lr-section-left {
        float: none;
        width: 100%;
        padding: 1px;
    }
    .lr-image-holder {
        height: 66vh;
        background-size: contain;
    }
    .lr-section-right blockquote {
        float: none;
        width: 100%;
    }
    .lr-menu-item {
        font-size: 21px;
        padding: 2px 0 10px 0px;
        color: black;
        display: block;
        width: 90%;
        border-bottom: 1px solid black;
        margin: auto;
    }
    .lr-menu-item-proff {
        font-size: 18px;
        font-weight: normal;
    }
    .lr-menu-item:hover, .lr-menu-item-active {
        color: black;
    }
    #is49 .plyr, #is57 .plyr, #is62 .plyr, #is8 .plyr, #is32 .plyr, #is22 .plyr, #is23 .plyr, #is27 .plyr, #is67 .plyr {
        width: 85% !important;
        margin: auto;
    }
    #is49 #slideID21_134 .relatives-for-mobile, #is23 #slideID8_51 .relatives-for-mobile, #is58 #slideID25_156 .relatives-for-mobile, #is67 #slideID30_188 .relatives-for-mobile, #is67 #slideID30_187 .relatives-for-mobile, #is67 #slideID30_185 .relatives-for-mobile {
        height: auto !important;
    }
    .slider-image-bkgr {
        background-position-y: 48% !important;
    }
    /* s58,s67 */
    #is58 .person-text-mobile {
        width: 100% !important;
        padding: 0px;
    }
    #is58 .person-title-mobile {
        padding: 10px;
    }
    #is58 audio {
        width: 100% !important;
    }
    #is58 .translation-button {
        top: 57%;
        left: 8%;
    }
    #is67 .person-text {
        width: 100% !important;
        padding: 0px;
    }
    #is67 .person-title-mobile {
        padding: 10px;
    }
    #is67 audio {
        width: 100% !important;
    }
    #is67 .translation-button {
        top: 57%;
        left: 8%;
    }

    .slideLinePoint{
        border-bottom: none;
    }

    .slideLinePointTitle{
        border-bottom: solid white 1px;
    }
    .person-title-mobile{
        font-size: 32px;
        font-weight: 500;
        text-align: left;
        opacity: 1;
        font-style: normal;
        line-height: 34px;
    }

}