@media only screen and (min-width: 320px) and (max-width: 500px) {
    .cover-chapter-head{
        width:200px !important;
        font-size: 1.6em !important;
    }

    #about{
        font-size: 14px !important;
    }

    .tool{
        width:35px;
        height: 35px;
    }

    .quote{
        width:78%;        
    }

    .quote-autor{
        text-align: right;
        width: 75%;
        margin-top: 15px;
    }

    .quote-autor-profession{
        width:100%;
        text-align: right;
    }

    .becouse{
        font-size: 1.2em;
        margin-bottom: 26px;
        width: 90%;
    }

    .becouse-list{
        font-size: 1.5em;
        font-weight: bolder;
        /* width: 99%; */
    }

    .small-in-big{
        font-size: 1.2em;
    }

    .becouse-list li .becouse-big{
        font-size: .6em;
        margin-left: 80px;
        /* word-spacing: 0px; */
        /* padding: 0 0; */
        /* line-height: .5em; */
    }

    
    .glux{
        text-align: right;
        padding-right: 20px;
        /* padding-top: 10px; */
    }

    #about-section-holder{
        height: auto;
        width: 100%;
        margin-top: 25px;
        /* margin-bottom: 25px; */
    }

    .about-columns{
        width: 100%;
        float:none;
        padding: 25px 13px;
    }

    .about-contacts.bordered{
        width:100%;
    }

    .info-button{
        display: none;
    }

    .divider{
        width:initial;
        float: none;
        padding: 0;
        text-align: center;
    }

    .translation-button{
        display: none;
    }

    .person-video{
        width: 100%;
        float: none;
        text-align: left;
        margin: 0;
    }

    .person-title{
        font-size: 0.9em;
        line-height: 1em;
        padding: 13px 22px 3px 29px;
    }

    .person-text{
        font-size: 0.9em;
        line-height: 1em;
        padding: 9px 12px 2px 12px;
    }

    .person-text-right{
        text-align: left;
        margin-left: 0px;
    }

    #slideLine{
        
    }

    
    .relatives-for-mobile{
        position: static !important;
        width: 92% !important;
        /* margin-top: 0px; */
        top: unset !important;
        left: unset !important;
        visibility: visible;
        display: block;
        z-index: unset !important;
        font-size: 13px;
        padding: 11px;
        margin: 0px auto;
        box-sizing: border-box;
        opacity: 1;
        height: unset !important;
    }

    img.relatives-for-mobile{
        width: 98% !important;
    }

    .hidden-for-mobile{
        visibility: hidden;
        display: none;
    }
    

    .prevZoomer{
        width: 100%;
        margin: 55px 0;
    }


    .intro-left{
        font-size: 12px;
        width:100%;
        /* display: none; */
    }

    .intro-left-large{
        font-size: 12px;
        
    }

    .intro-right{
        display: none;
    }

    .fp-controlArrow{
        top: 100%;
        border:none !important;
        /* border-color: transparent #ffffff96 transparent transparent; */
        background-image: url(../img/icons/arrow.png);
        width: 25px !important;
        height: 29px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    }

    .fp-controlArrow.fp-next{
        right: 0px;
        /* border-width: 13.5px 0 13.5px 18px; */
        transform: rotate(-90deg);
    }

    .fp-controlArrow.fp-prev {
        left: 0px;
        /* border-width: 16.5px 18px 13.5px 0; */
        transform: rotate(90deg);
    }

    

}