@font-face {
    font-family: 'Arian';
    src: url('../fonts/arian_amu.woff')
}

*{
    font-family: 'Arian';
}

body{
    font-family: 'Arian';
}


.intro-left-large{
    font-size: 18px;
}

.intro-right{
    font-size: 14px;
}

.intro-left{
    font-size: 16px;
}

.box{
    font-size: 1em;
}

.quote{
    font-size: 21px !important;
}

.quote-autor{
    font-size: 18px !important;
    font-weight: bold;
}

.quote-autor-profession{
    font-size: 16px;
}

.lr-menu-item {
    font-size: 14px;
    padding: 29px 0 0 5px;
    vertical-align: top;
}


.becouse-small{
    font-size: 18px;
}


.becouse{font-size: 23px;margin-bottom: 20px;}

.becouse-list li .becouse-big{
    font-size: 27px;
    line-height: 35px;
}

.littleT{
    font-size: 20px;
    margin-left: -2px;
}

.person-title{font-size: 26px !important;}

.person-text{
    font-size: 19px !important;
    width: 450px !important;
}

.bordered{
    font-size: 20px;
}

.about-small{
    font-size: 11px;
    margin-top: 8px;
}

#scrolldown{
    margin-left: -27px;
    /* text-transform: uppercase; */
}