body{
  background-color: #000;
  color: white;
  font-family: 'Roboto';
  -webkit-font-smoothing:antialiased;
}

#tools{
  position: fixed;
  right:20px;
  top:20px;
  width:180px;
  height: 40px;
  z-index: 100;
}

.tool{
  /* border:solid 1px gray; */
  width:40px;
  height: 40px;
  display: inline-block;
  opacity:0.5;
  z-index: 100;
  cursor: pointer;
  background-size: cover;
}

.tool:hover{
  opacity:1
}

#language.hy{
  background-image: url("../img/icons/hy.png");
}

#language.en{
  background-image: url("../img/icons/en.png");
}


#fb-button{
  background-image: url("../img/icons/fb.png");
}

#twitter-button{
  background-image: url("../img/icons/tw.png");
}

.sound-on{
  background-image: url("../img/icons/sound-on.png");
}

.sound-off{
  background-image: url("../img/icons/sound-off.png");
}

#nav-button{
  background-image: url("../img/icons/sound-off.png");
  

}





.section{
  text-align: center;
}

.chapter-head{
  font-size: 8em;
  text-align: center;
  text-transform: uppercase;
}

.chaper-slogan{
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
  
}


/* nav start */
#nav{
  width:32px;
  position: fixed;
  top:0;
  z-index: 999999;
}

.nav-items{
  width:32px;
  height:32px;
  margin-bottom:5px;
  border-radius: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-color:white;
  cursor: pointer;
  display: block;
}

.nav-items:hover{
  background-color: black;
}

#nav-see{
  background-image: url("../img/nav-see.png");
  
}

#nav-hear{
  background-image: url("../img/nav-hear.png");
}

#nav-speak{
  background-image: url("../img/nav-speak.png");
}

#nav-act{
  background-image: url("../img/nav-act.png");
}
/* nav end */


/* Vimeo responsive  */
/*
.embed-container { 
  position: relative; 
  padding-bottom: 56.25%;
  height: 90%; 
  overflow: hidden; 
  width: 80%; 
  height: auto; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
      position: absolute; 
      top: 10; 
      left: 10;
      width: 100%; 
      height: 100%;
}*/
/*End of Vimeo responsive  */



/* Quote */


.hidden-sound{
display: none;
}

.quote{
  width:27%;
  font-size: 26px;
  line-height: 32px;
  text-align: left;
  margin: auto auto;
  opacity: 0;
}

.quote-autor{
  width:27%;
  font-size: 22px;
  font-weight: 300;
  text-align: right;
  font-style: italic;
  margin: 20px auto;
  opacity: 0;
}

/* end of Quote */

/* becouses */
.becouse{
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  width:30%;
  margin: auto auto;
  text-align: left;
  opacity: 0;
}

.becouse-list{
  width:40%;
  text-align: left;
  margin: auto auto;
  font-size: 2em;
  margin-left: 45%;
  font-style: italic;
}

.becouse-list li{
  list-style-type: none;
  opacity: 0;
}

.becouse-list li span{
  text-align: left;
  width: 150px;
  display: inline-block;
}

.becouse-list li .becouse-big{
  text-align: left;
  font-size: 55px;
  font-weight: 400;
  width: 300px;
}
/* end of becouses */


.person-title{
  font-size: 23px;
  font-weight: 500;
  width: 46%;
  font-style: italic;
  margin-left: 31%;
  margin-top: 131px;
  margin-bottom: 6px;
  text-align: left;
  opacity: 0;
}

.person-text{
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  width: 26%;
  margin-left: 31%;
  text-align: left;
  opacity: 0;
  line-height: 1.4em; 
}

.person-video{
text-align: right;
padding-right: 15%;
width: 30%;
margin-left: 60%;
}

.person-video-left{
  text-align: left;
  margin-left: 20%;
}

.person-text-right{
margin-left: 50%;
}

.relatives{
  position: absolute;
  visibility: hidden;
}

.relatives-fade{
  position: absolute;
  opacity: 0; 
}

.bordered{
  width: 20%;
  border: 1px white solid;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding: 15px;
  line-height: 1.5em;
  z-index: 0;
  
}


.backgroundvideo{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-color: black; /* in case the video doesn't fit the whole page*/
  /* background-image:  our video */;
  background-position: center center;
  background-size: contain;
  object-fit: cover; /*cover video background */
  z-index:3;
}


.layeronbackgroundvideo{
    position: absolute;
    z-index: 10;
    width: 90%;
    left: 0;
    top: 12%;
    /*
    * Preventing flicker on some browsers
    * See http://stackoverflow.com/a/36671466/1081396  or issue #183
    */
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


.zoomer{
  /* transform: scale(0.67); */
  /* zoom:67%; */
}

/* fade in animations */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;  
}

.animation1{
  animation-duration: 1s;
}

.animation2{
  animation-duration: 2s;
}

.animation3{
  animation-duration: 3s;
}

.animation4{
  animation-duration: 4s;
}

.animation5{
  animation-duration: 5s;
}

.animation6{
  animation-duration: 6s;
}

.animation7{
  animation-duration: 7s;
}

.animation8{
  animation-duration: 8s;
}

.animation9{
  animation-duration: 9s;
}

.animation10{
  animation-duration: 10s;
}
 
.animation11{
  animation-duration: 11s;
}

.animation12{
  animation-duration: 12s;
}

.animation13{
  animation-duration: 13s;
}

.animation14{
  animation-duration: 14s;
}

.animation15{
  animation-duration: 15s;
}

.animation16{
  animation-duration: 16s;
}

.animation17{
  animation-duration: 17s;
}
/* end of fade in animations */



/* slideInDown animations */
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}


.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  animation-timing-function: cubic-bezier(0,.91,.75,.98);
  -webkit-animation-fill-mode: forwards; 
  -moz-animation-fill-mode: forwards;    
  -o-animation-fill-mode: forwards;      
  -ms-animation-fill-mode: forwards;     
  animation-fill-mode: forwards;
  
}


@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
}


.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;  
}
/* end of slideInDown animations */


.personVideo{
  width:400px;
}




