@font-face {
    font-family: 'Arian';
    src: url('../fonts/arian_amu.woff')
}

* {
    font-family: 'Arian';
}

body {
    font-family: 'Arian';
}

#spinner {
    width: 92px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -52px;
}

.intro-left-large {
    font-size: 18px;
}

.intro-right {
    font-size: 14px;
}

.intro-left {
    font-size: 16px;
}

.box {
    font-size: 1em;
}

.quote {
    font-size: 21px !important;
}

.quote-autor {
    font-size: 18px !important;
    font-weight: bold;
}

.quote-autor-profession {
    font-size: 16px;
}

.lr-menu-item {
    font-size: 14px;
    padding: 29px 0 0 5px;
    vertical-align: top;
}

.becouse-small {
    font-size: 18px;
}

.becouse {
    font-size: 23px;
    margin-bottom: 20px;
}

.becouse-list li .becouse-big {
    font-size: 27px;
    line-height: 35px;
}

.littleT {
    font-size: 20px;
    margin-left: -2px;
}

.person-title {
    font-size: 26px !important;
}

.person-text {
    font-size: 19px !important;
    /* width: 450px !important; */
}

.bordered {
    font-size: 18px;
}

.about-small {
    font-size: 13px;
    margin-top: 8px;
}

#scrolldown {
    margin-left: -27px;
    /* text-transform: uppercase; */
}

.cover-text {
    margin-left: -150px;
}

.introDivP {
    font-size: 16px;
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .becouse-small {
        font-size: 17px;
        width: 106px !important;
    }
    .becouse {
        font-size: 18px !important;
        margin-bottom: 26px;
        padding-left: 0px !important;
    }
    .becouse-list li {
        height: 38px;
    }
    .bordered {
        font-size: 16px !important;
    }
    .about-columns .bordered {
        font-size: 14px !important;
    }
    .becouse-list li .becouse-big {
        font-size: 19px !important;
    }
    #is46 .becouse-small {
        width: 145px !important;
    }
    .about-title {
        font-weight: 400;
        margin-top: 4px;
        font-size: 14px;
        font-weight: bold;
    }
    .about-small {
        margin-top: 5px;
    }
    .person-text {
        font-size: 0.9em !important;
    }
    .person-title {
        font-size: 0.9em !important;
    }
    #is62 p {
        padding-right: unset !important;
    }
    #is16 p {
        font-size: 1em !important;
    }
    .quote {
        font-size: unset !important;
    }
    #is24 .bordered {
        font-size: 16px !important;
        padding: 10px !important;
    }
}