body{
  background-color: #000;
  color: white;
  font-family: 'Roboto';
  -webkit-font-smoothing:antialiased;
}

#tools{
  position: fixed;
  right:20px;
  top:20px;
  width:180px;
  z-index: 100;
  text-align: right;
}

.tool{
  width:40px;
  height: 40px;
  display: inline-block;
  opacity:0.5;
  z-index: 100;
  cursor: pointer;
  background-size: cover;
}

.tool:hover{
  opacity:1
}

.language-hidden{
    display: none;
    float: right;
}

#language.hy{
  background-image: url("../img/icons/hy.png");
}

#language.en{
  background-image: url("../img/icons/en.png");
}


#fb-button{
  background-image: url("../img/icons/fb.png");
}

#twitter-button{
  background-image: url("../img/icons/tw.png");
}

.sound-on{
  background-image: url("../img/icons/sound-on.png");
}

.sound-off{
  background-image: url("../img/icons/sound-off.png");
}


#nav-arrow{
  background-image: url("../img/icons/arrow.png");
  position: fixed;
  bottom: 5px;
  left: 50%;
  margin-left: -39px;
  z-index: 10000;
  width: 30px;
  height: 18px;
  opacity: 0.5;
  background-size: contain;
  background-repeat: no-repeat;
  animation: pulse 5s infinite;
}

#nav-arrow:hover{
  opacity: 1;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}


.section{
  text-align: center;
}

.chapter-head{
  font-size: 8em;
  text-align: center;
  text-transform: uppercase;
}


#sect4-holder{
  /* background-color: #fff; */
  width:100%;
  height:100vh;
}

#sect4-right, #sect4-left{
  width:50%;
  height:100vh;
  float:left;
  background-size: cover;
}

.box {
  color: #fff;
  height: 50vh;
  width: 100%;
  border: solid 1px white;
  vertical-align: middle;
  line-height: 50vh;
  font-size: 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* clockwise see, hear, speak, act */ 

.chaper-slogan{
  font-size: 2.5em;
  text-align: center;
  text-transform: uppercase;
}

#button{
  background-image: url("../img/icons/menu-button.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 34px;
  height: 36px;
  cursor: pointer;
  opacity: 0.8;
}

#button-back{
  background-image: url("../img/icons/slq.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 34px;
  height: 36px;
  cursor: pointer;
  opacity: 0.8;
  margin-top: -6px;
  margin-left: 5px;
  transform: rotate(180deg);
}

#button:hover , #button-back:hover{
  opacity: 1;
}

/* nav start */
#nav{
  width:100px;
  position: fixed;
  top: 18px;
  z-index: 999999;
}

.nav-items{
  margin-bottom:5px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  color:white;
  text-transform: uppercase;
  opacity: 0.8;
  margin-left: 8px;
  font-size: 12px;
}

.nav-items:hover{
  opacity: 1;
}

.nav-intro{
  margin-bottom: 15px;
}

#about{
  position: fixed;
  top: 28px;
  left: 46px;
  z-index: 999999;
  text-transform: uppercase;
  font-size: 15px;
}

/* nav end */


/* Quote */
.hidden-sound{
  display: none;
}

.visible-sound{
  width: 600px;
  height: 25px;
  border-radius: 0px;
}

.quote{
  text-align: left;
  margin: auto auto;
  opacity: 0;
}

.quote-autor{
  text-align: right;
  font-style: italic;
  font-weight: 500;
  opacity: 0;
  display: inline-block;
}

.quote-autor-profession{
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

/* end of Quote */

/* becouses */
.becouse-container{
  /* margin:0 auto; */
  display: inline-block;
}

.becouse{
  font-size: 29px;
  font-style: italic;
  font-weight: 400;
  margin: auto auto;
  margin-bottom: 44px;
  text-align: left;
  opacity: 0;
  display: block;
}

.becouse-list{
  text-align: left;
  font-size: 2em;
  font-style: italic;
  margin:0;
  padding:0;
  display: block;
}

.becouse-list li{
  list-style-type: none;
  opacity: 0;
  /* padding-left:35px; */
}


.becouse-list li .becouse-big{
  text-align: left;
  font-size: 40px;
  font-weight: 400;
  margin-left: 130px;
}



.small-in-big{
  font-size:21px;
  font-weight: 100;
  margin-right: 14px;
}
/* end of becouses */


.person-title{
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  opacity: 0;
  font-style: normal;
  line-height: 34px;
}

.person-text{
  font-style: italic;
  font-weight: 400;
  text-align: left;
  opacity: 0;
  letter-spacing: .2px;
  margin-top: 13px;
}

.person-text-right{
  width:100%;
  margin-left:30px;
}

.person-video{
  text-align: right;
  width: 60%;
  margin-left: 30px;
  margin-right: 30px;
  float: right;
}

.person-video-right{
  float:left;
}

.relatives{
  position: absolute;
  visibility: hidden;
  transition: transform .2s;
}


.relatives-fade{
  position: absolute;
  opacity: 0; 
}

.bordered{
  width: 20%;
  border: 2px white solid;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding: 15px;
  line-height: 1.5em;
  z-index: -100;
  min-width: 260px;
  /*-moz-box-sizing: border-box; */
}


.backgroundvideo{
  position: absolute;
  right: 0;
  bottom: 0;
  top:0;
  right:0;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-color: black; 
  background-position: center center;
  background-size: contain;
  object-fit: cover; 
  z-index:3;
}

.blackOverlay{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 6;
  top: 0;
  left: 0;
}


.layeronbackgroundvideo{
    position: absolute;
    z-index: 10;
    width: 100%;
    left: 0;
    top: 12%;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


.zoomer{
  transform-origin: '0 0';
  -moz-transform-origin: '0 0';     
  -ms-transform-origin: '0 0'; 
  -webkit-transform-origin: '0 0';
  position: absolute;
  
}

.fixer{
  position: absolute;
  height: 100vh;
  border: 1px solid white;
  top: 0;
  left: 0;
  display: flex;
  
}

/* fade in animations */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;  
}

.animation1{
  animation-duration: 1s;
}

.animation2{
  animation-duration: 2s;
}

.animation3{
  animation-duration: 3s;
}

.animation4{
  animation-duration: 4s;
}

.animation5{
  animation-duration: 5s;
}

.animation6{
  animation-duration: 6s;
}

.animation7{
  animation-duration: 7s;
}

.animation8{
  animation-duration: 8s;
}

.animation9{
  animation-duration: 9s;
}

.animation10{
  animation-duration: 10s;
}
 
.animation11{
  animation-duration: 11s;
}

.animation12{
  animation-duration: 12s;
}

.animation13{
  animation-duration: 13s;
}

.animation14{
  animation-duration: 14s;
}

.animation15{
  animation-duration: 15s;
}

.animation16{
  animation-duration: 16s;
}

.animation17{
  animation-duration: 17s;
}
/* end of fade in animations */



/* slideInDown animations */
@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}


.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  animation-timing-function: cubic-bezier(0,.91,.75,.98);
  -webkit-animation-fill-mode: forwards; 
  -moz-animation-fill-mode: forwards;    
  -o-animation-fill-mode: forwards;      
  -ms-animation-fill-mode: forwards;     
  animation-fill-mode: forwards;
  
}


@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
  }
}


.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;    /* FF 5+ */
  -o-animation-fill-mode: forwards;      /* Not implemented yet */
  -ms-animation-fill-mode: forwards;     /* IE 10+ */
  animation-fill-mode: forwards;  
}
/* end of slideInDown animations */


.personVideo{
  width:400px;
}


.translation-button{
  border: solid 1px white;
  display: inline-block;
  margin-top: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  opacity: .5;
  visibility: hidden;
}

.translation-button:hover{
  opacity: 1; 
}


.translation-text{
    width: 28%;
    overflow-y: scroll;
    float: right;
    background-color: rgba(0, 0, 0, 0.90);
    text-align: left;
    display: none;
    height: 202px;
    padding: 10px;
    font-size: 16px;
    line-height: 19px;
    margin-left:30px;
    margin-right: 30px
  }

.divider{
  height:50%;
  width:50%;
  float:left;
  /* border: 1px rgba(255,255,255,0) solid; */
  display: block;
  box-sizing: border-box;
  text-align: right;
  padding: 4px;
}

.clear{
  clear:both;
}


/* width */
.translation-text::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.translation-text::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.translation-text::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.translation-text::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


#slideLine{
  position: fixed;
  left: 8px;
  top: 50px;
  z-index: 9999;
}

#slideLineFirst{
  position: fixed;
  left: 8px;
  top: 50px;
  z-index: 9999;
}

#slideLineFirst>div{
  border-bottom: 1px solid white;
}


#slideLineArrowArea{
  position: fixed;
  left: 48px;
  top: 60px;
  z-index: 9999;
}

.slideLinePoint{
  border-bottom:solid 1px gray;
  width:10px;
  height: 12px;
  cursor: pointer;
  left: 23px;
  box-sizing: border-box;
}

.seen{
  border-bottom:solid 1px white;
}

.adjuster{
  vertical-align: middle;
}

.slideLinePointTitle{
  width: 25px;
  left: 9px;
  font-size:14px;
  text-transform: uppercase;
}

.slideLinePointTitleSmall{
  font-size: 10px;
  vertical-align: bottom;
  padding-top: 3px;
}

#slideLineArrow{
  position: fixed;
  width:24px;
  height: 24px;
  background-image: url("../img/icons/triangle.png");
  background-repeat: no-repeat;
  z-index: 99999;
  border:solid 1px white;
  box-sizing: border-box;
}


.align-left{
  float:left;
}

.align-right{
  float: right;
}

.bx-wrapper{
  background: none;
  border: none;
  box-shadow: none;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #fff;
}

.slider-image-bkgr {
  width:1300px;
  height:650px;
  background-size: cover;
}


.info-button{
  background-image: url("../img/icons/i-icon.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-bottom:20px;
  cursor: pointer;
  display: inline-block;
  animation: pulse 2s infinite;
}




.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-box {
	background: white;
	border: none;
	border-radius: 6px;
  box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4);
  max-width: 300px;
  font-size:16px;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
	color: black;
	padding: 8px;
}


.custom-text{
  width:524px;
  text-align: left;
  font-size: 20px;
}

.person-title-foraudios{
  font-size: 27px;
  font-weight: bold;
  font-style: italic;
  width:100%;
}

.single-video-holder{
  width:60%;
  margin: 0 auto;
}


.bordered-3video{
  width:80%;
}



/* Longread styles */

div{
  box-sizing: border-box;
}

.body-experience{
  background-color: white;
}

#lr-holder{
  width:700px;
  margin: 0 auto;
  margin-top:86px;
  min-height: 100vh;
  color:black;
}

.lr-section-right blockquote {
  font-size: 23px;
  width: 336px;
  float: right;
  padding: 0 0 25px 0px;
  margin: 0px;
  font-style: italic;
  line-height: 25px;
}

.lr-section-right p{
  font-size: 16px;
  font-weight: 400;
  margin:0px;
  padding-bottom: 15px;
}


.lr-section{
  width: 100%;

}

.lr-section-left{
  width:248px;
  display: block;
  float:left;
  min-height: 200px;
}

.lr-section-right{
   width: 450px;
   display: block;
   float:left;
   min-height: 200px;
   border-bottom: dashed 2px gray;
   padding-top: 25px;
}

.lr-top-line{
  position: fixed;
  background-color: black;
  width:100%;
  height: 86px;
  top:0px;
  left:0px;
  z-index:1;
}

.lr-menu{
  width:700px;
  margin:0 auto;
}

.lr-menu-item{
  width:24%;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  color:#a7a5a5;
  cursor: pointer;
  padding: 38px 0 0 5px;
}

.lr-menu-item-proff{
  font-size: 13px;
  font-weight: normal;
}

.lr-menu-item:hover, .lr-menu-item-active {
  color:white;
}

.lr-image-holder{
  margin:30px 15px 15px 15px;
  background-repeat: no-repeat;
  background-size: contain;
}

.lr-image-holder img{
  width:223px;
}

.lr-image-name{
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
}

.lr-image-profession{
  font-size: 16px;
  font-weight: 400;
  padding-left: 10px;
}



.cover-chapter-head{
  width:440px;
  font-size: 33px;
  text-align: center;
  margin:0 auto 0 auto;
  text-transform: uppercase;
  font-weight: 100;
  opacity: 0;
}

.cover-chapter-line{
  width:0px;
  border-bottom: solid 1px white;
  margin:3px auto 25px auto;
  display: none;

}

.cover-chapter-image{
  background-image: url("../img/coverpage.jpg");
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 25px;
  opacity: 0; 
}

.cover-chapeter-para{
  width:280px;
  margin:0 auto;
  text-align: left;
  font-size:14px;
}


.intro-left{
  width:680px;
  /* width:50%; */
  display: inline-block;
  text-align: left;
  padding:25px;
  font-size: 16px;
}

.intro-right{
  width:550px;
  /* width:40%; */
  display: inline-block;
  text-align: left;
  padding:10px 10px 10px 15px;
  background-color: white;
  color:black;
  margin-top: 0;
  font-size: 15px;
  position: relative;
  top: 0;
}

.intro-left-large{
  font-size: 19px;
}

.intro-left img{
  inline-size: 21px;
  opacity: 0.5;
  cursor: pointer;
}

.intro-left img:hover{
  opacity: 1;
}

.intro-right ul li {
  padding-left: 0px;
  margin-left: -20px;
}

/*
.relatives{
  border: 1px white solid;
}
*/